/* ------------------------------------- */
/* - - - - - - G E N E R A L - - - - - - */
/* ------------------------------------- */



/* ------------------------------------- */
/* - - - - G A R D E N G R A V E - - - - */
/* ------------------------------------- */

/* Body */
#gardengrave {
    --temp-scale: 1vh;

    background-color: #111111;
    background-image: url(../media/gg-background.svg);
    background-repeat: repeat;
    background-size: 20vw;
    background-attachment: local;
    background-position-x: 4vw;
    background-position-y: -1vw;

    display: block;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
}

/* Intro paragraph */
#ggIntro {
    margin: 0 auto;
    width: 80%;
}
#ggIntro p {
    font-size: 14pt;
    line-height: 18pt;
    font-style: italic;
    text-indent: 40px;
}


li {
    width: 70vw;
    margin: 3vh auto;
    background-color: #555555;
    background-image: var(--flannel-pattern);
    padding: 4vh;
    border-radius: 4vh;
    list-style-type: none;
}
li h1,
li h2 {
    color: #BBBBBB;
    text-align: left;
    margin: 0 0 1vh 0;
    text-indent: 0;
    line-height: normal;

}
li h1 {
    font-size: 8vh;
    letter-spacing: .2vh;
}
li h2 {
    font-size: 6vh;
    letter-spacing: .15vh;
}


li p {
    font-family: 'Francois One', sans-serif;
    font-size: 2.5vh;
    line-height: 3.6vh;
    letter-spacing: .05vh;
    word-spacing: .3vh;
    text-indent: 5vh;
    margin: 0;
}
li .entryGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 70%;
    margin: 3vh auto;
}
li .entryGroup gg-entry, 
li .entryGroup delta-entry {
    width: 10vh; height: 10vh;
}

#compound .entryGroup {
    flex-direction: column;
    width: 10vh;
    width: 10vh;
}

#map {
    width: 100%;
}

#showcase {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.stack { transform: translate(15%, -50%); }
