/*
// -------------------------------------
// - - - - - - G E N E R A L - - - - - -
// -------------------------------------
*/
.project { transition: transform .2s ease; }
.project .banner {
    background: var(--stripe-pattern);
    display: flex;
    justify-content: space-between;

    /* Padding isn't included in width & height */
    padding: 2vw 4vw;
    height: 7vw;
    border-radius: 7vw;

    /* Prevent highlighting */
    user-select: none;
    cursor: pointer;

    /* This is necessary to keep banner above tab */
    position: relative;
    z-index: 1;
}
.project .banner h3 { margin-bottom: .75vw; font-size: 4vw; }
.project .banner p { margin: 0; text-align: center; font-size: 1.2vw; }
.project .banner img { height: 100%; filter: drop-shadow(0px .6vw .3vw rgba(0, 0, 0, 0.6)); }

.project .dropdown { width: 80%; margin: 0 auto; }
.project .dropdown .info { 
    display: none;
    padding: 30px;  
    font-size: 13pt; 
    line-height: 17pt;
}
.project .dropdown .info p { margin: 0; text-indent: 30px; font-size: 1.17vw; line-height: 1.55vw; }
.project .dropdown .info a { font-size: 1.17vw; }

.project .dropdown .tab { 
    background-color: #BBBBBB; 
    height: 2vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    cursor: pointer;

    /* Prevent highlighting */
    user-select: none;

    transform: translatey(-110%);
}
.project .dropdown .tab img { 
    display: block; 
    height: 100%; 
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .project .banner { 
      display: block;
      padding: 5vw 0;
      height: auto;
      border-radius: 20vw; /* This is arbitrarily big just so it's circular */
  }
  .project .banner h3 { font-size: 10vw; text-align: center; }
  .project .banner p { display: none; }
  .project .banner img { display: none; }
}



@keyframes tabOut {
  0%   { transform: translatey(-110%);  margin-bottom: 0px;   }
  100% { transform: translatey(0%);     margin-bottom: 30px;  }
}
@keyframes tabIn {
  0%   { transform: translatey(0%);     margin-bottom: 30px;  }
  100% { transform: translatey(-110%);  margin-bottom: 0px;   }
}



/*
// ---------------------------------
// - - - - - 8-BIT ALCHEMY - - - - -
// ---------------------------------
*/

@media only screen and (min-width: 800px) { 
  #alchemy .banner h3 { 
    font-family: '8-bit Alchemy'; 
    font-size: 3.75vw; 
    margin-top: -1.5%; 
  } 
}
#alchemy .dropdown .alchemy { 
  font-family: '8-bit Alchemy'; 
  font-size: 2vw;
  line-height: 2.2vw;
  color: var(--trim-color);
  word-break: break-all;
}
#alchemy .dropdown .alchemy:focus {
  outline: 0px solid transparent;
}



/*
// ---------------------------------------
// - - - - - EDGY NAME GENERATOR - - - - -
// ---------------------------------------
*/

#edgy-name { 
  text-indent: 0;
  white-space: nowrap;
  margin: 2vw 0;
  font-family: "Anime Inept";
  font-size: 4vw;
  color: var(--trim-color);
}
#edgy-title { 
  text-indent: 0;
  white-space: nowrap;
  margin: 0 0 2vw 0;
  font-family: "Anime Inept";
  font-size: 1.8vw;
  color: var(--trim-color);
  filter: brightness(.8);
}

#edgy-controls {
  margin: 0 0 4vw 0;
}
#edgy-controls .lvl-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .8vw;
  width: 100%;
}
#edgy-controls .lvl-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: .8vw;
  padding: .8vw;
  background-color: #444444;
  border-radius: .8vw;
}
#edgy-controls .lvl-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: .8vw;
}
#edgy-controls .lvl-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: .8vw;
  padding: .8vw;
  background: var(--stripe-pattern);
  border-radius: .8vw;
}
#edgy-controls p {
  text-indent: 0;
  text-align: center;
  margin: 0;
  font-family: "Anime Inept";
  font-size: 1.6vw;
}
#edgy-controls button {
  height: 4vw;
  width: 100%;
  border-radius: .8vw;
  border-style: none;
  color: #444444;
  background-color: #BBBBBB;
  font-family: "Francois One";
  font-size: .9vw;
}
#edgy-controls button:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}
#edgy-controls button:active { 
  background-color: #FFFFFF;
}
#edgy-controls button:disabled { 
  filter: brightness(.6);
  cursor: default;
}
#edgy-controls button:disabled:hover { 
  background-color: #BBBBBB;
}
#edgy-controls #edgy-random-btn {
  width: 100%;
  margin-bottom: .8vw;
  font-size: 1.6vw;
}
#edgy-controls .lvl-3 button,
#edgy-controls .lvl-4 button {
  height: 2vw;
}

#edgy-img-1 { width: 60%; }
#edgy-img-2 { 
  float: right;
  margin-left: 1.5vw;
  width: 45%; 
}

@media only screen and (max-width: 800px) {
  #edgy-name {
    margin: 0;
    font-size: 6vw;
  }
  #edgy-title {
    font-size: 3.5vw;
    margin: 3vw 0;
  }

  #edgy-controls {
    margin: 0;
  }
  #edgy-controls .lvl-1 {
    display: none;
  }
  #edgy-controls #edgy-random-btn {
    height: 10vw;
    font-size: 5vw;
    margin: 0;
  }

  #edgy-exe {
    display: none;
  }
}



/*
// -------------------------------------
// - - - - - CHAMPION OF WORMS - - - - -
// -------------------------------------
*/

#worms #worms1 {
    width: 200px;
    cursor: pointer;
}
#worms #worms2 {
    float: left;
    width: 100px;
    margin-right: 20px;
}
#worms #worms3 {
    float: right;
    width: 100px;
    margin-left: 20px;
}



/*
// --------------------------------------
// - - - - - COLOSSEUM OF PUNCH - - - - -
// --------------------------------------
*/

#punch #punch1 {
  width: 3vw;
}




/*
// -------------------------------------
// - - - - - PLACID  INSTINCTS - - - - -
// -------------------------------------
*/

#placid input[type=radio] { display: none; }
#placid .info { height: 400px; }
#placid .card {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform .2s ease;
    /* Prevent highlighting */
    user-select: none;
}
#placid .info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
/* See if you can't get images to extend to exactly the .info padding */
#placid #rad1:checked ~ .cards #img3, 
#placid #rad2:checked ~ .cards #img1, 
#placid #rad3:checked ~ .cards #img2 {
  transform: translatex(-40%) scale(.8);
  filter: brightness(30%) saturate(30%);
  z-index: 0;

  cursor: pointer;
}
#placid #rad1:checked ~ .cards #img2, 
#placid #rad2:checked ~ .cards #img3, 
#placid #rad3:checked ~ .cards #img1 {
  transform: translatex(40%) scale(.8);
  filter: brightness(30%) saturate(30%);
  z-index: 0;

  cursor: pointer;
}
#placid #rad1:checked ~ .cards #img1, 
#placid #rad2:checked ~ .cards #img2, 
#placid #rad3:checked ~ .cards #img3 {
  z-index: 1;
}