/*
// ---------------------------------
// - - - - - 8-BIT ALCHEMY - - - - -
// ---------------------------------
*/

@media only screen and (min-width: 800px) { 
  .banner h3 { 
    font-family: '8-bit Alchemy'; 
    font-size: 34pt; 
    margin-top: -1.5%; 
  } 
}
.info .alchemy { 
  font-family: '8-bit Alchemy'; 
  font-size: 30pt;
  line-height: 34pt;
  color: var(--trim-color);
  word-break: break-all;
}
.info .alchemy:focus {
  outline: 0px solid transparent;
}