/*
// ---------------------------------------
// - - - - - EDGY NAME GENERATOR - - - - -
// ---------------------------------------
*/

#edgy-name { 
  text-indent: 0;
  white-space: nowrap;
  margin: 30px;
  font-family: "Anime Inept";
  font-size: 40pt;
  color: var(--trim-color);
}
#edgy-title { 
  text-indent: 0;
  white-space: nowrap;
  margin: 0 0 30px 0;
  font-family: "Anime Inept";
  font-size: 20pt;
  color: var(--trim-color);
  filter: brightness(.8);
}

#edgy-controls {
  margin: 0 0 30px 0;
}
#edgy-controls .lvl-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  gap: 10px;
}
#edgy-controls .lvl-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;

  background-color: #444444;
}
#edgy-controls .lvl-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  gap: 10px;
}
#edgy-controls .lvl-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;

  background: var(--stripe-pattern);
}
#edgy-controls p {
  margin: 0;
  text-indent: 0;
  text-align: center;

  font-family: "Anime Inept";
  font-size: 15pt;
}
#edgy-controls button {
  width: 100%;
  border-radius: 20px;
  border-style: none;

  color: #444444;
  background-color: #BBBBBB;
  font-family: "Francois One";
}
#edgy-controls #edgy-random-btn {
  height: 60px;
  margin-bottom: 10px;
  font-size: 15pt;
}
#edgy-controls .lvl-3 button,
#edgy-controls .lvl-4 button {
  height: 40px;
}
#edgy-controls button:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}
#edgy-controls button:active { 
  background-color: #FFFFFF;
  color: #BBBBBB;
}
#edgy-controls button:disabled { 
  filter: brightness(.6);
  cursor: default;
}
#edgy-controls button:disabled:hover { 
  background-color: #BBBBBB;
}

#edgy-img-1 { width: 70%; }
#edgy-img-2 { width: 50%; }

@media only screen and (max-width: 800px) {
  #edgy-name {
    margin: 10px 0 0 0;
    font-size: 30pt;
  }
  #edgy-title {
    margin: 30px 0 20px 0;
    font-size: 15pt;

  }

  #edgy-controls {
    margin: 0;
  }
  #edgy-controls .lvl-1 {
    display: none;
  }
  #edgy-controls #edgy-random-btn {
    height: 70px;
    font-size: 25pt;
    margin: 0;
  }

  #edgy-exe {
    display: none;
  }
}