/*
// -------------------------------------
// - - - - - - G E N E R A L - - - - - -
// -------------------------------------
*/

.project {
  width: 700px;
  margin: 0 auto;
  transition: transform .2s ease;
}

.banner {
    background: var(--stripe-pattern);
    display: flex;
    justify-content: space-between;

    /* Padding isn't included in width & height */
    padding: 25px 50px;
    height: 80px;
    border-radius: 80px;

    /* Prevent highlighting */
    user-select: none;
    cursor: pointer;

    /* This is necessary to keep banner above tab */
    position: relative;
    z-index: 1;
}
.name { margin-bottom: 10px; font-size: 36pt; }
.subtitle { margin: 0; text-align: center; font-size: 12pt; }
.icon1, .icon2 { height: 100%; filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.6)); }

.dropdown { width: 80%; margin: 0 auto; }
.info { 
    display: none;
    padding: 25px;  
    font-size: 12pt; 
    line-height: 16pt;
}
.info p { margin: 0; text-indent: 30px; }
.tab { 
    background-color: #BBBBBB; 
    height: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;

    /* Prevent highlighting */
    user-select: none;

    transform: translatey(-110%);
}
.arrow-up, .arrow-down {
  margin: 0;

  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.arrow-up { border-bottom: 10px solid #444; }
.arrow-down { border-top: 10px solid #444; }


@media only screen and (max-width: 800px) {
  .project {
    width: 500px;
  }
  .banner { 
      display: block;
      padding: 30px 0;
      height: auto;
      border-radius: 100px; /* This is arbitrarily big just so it's circular */
  }
  .name { font-size: 35pt; text-align: center; }
  .subtitle { display: none; }
  .icon1, .icon2 { display: none; }
}



@keyframes tabOut {
  0%   { transform: translatey(-110%);  margin-bottom: 0px;   }
  100% { transform: translatey(0%);     margin-bottom: 30px;  }
}
@keyframes tabIn {
  0%   { transform: translatey(0%);     margin-bottom: 30px;  }
  100% { transform: translatey(-110%);  margin-bottom: 0px;   }
}



/*
// -------------------------------------
// - - - - - PLACID  INSTINCTS - - - - -
// -------------------------------------
*/

#placid input[type=radio] { display: none; }
#placid .info { height: 400px; }
#placid .card {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform .2s ease;
    /* Prevent highlighting */
    user-select: none;
}
#placid .info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
/* See if you can't get images to extend to exactly the .info padding */
#placid #rad1:checked ~ .cards #img3, 
#placid #rad2:checked ~ .cards #img1, 
#placid #rad3:checked ~ .cards #img2 {
  transform: translatex(-40%) scale(.8);
  filter: brightness(30%) saturate(30%);
  z-index: 0;

  cursor: pointer;
}
#placid #rad1:checked ~ .cards #img2, 
#placid #rad2:checked ~ .cards #img3, 
#placid #rad3:checked ~ .cards #img1 {
  transform: translatex(40%) scale(.8);
  filter: brightness(30%) saturate(30%);
  z-index: 0;

  cursor: pointer;
}
#placid #rad1:checked ~ .cards #img1, 
#placid #rad2:checked ~ .cards #img2, 
#placid #rad3:checked ~ .cards #img3 {
  z-index: 1;
}